@using Microsoft.AspNetCore.Http
@model Vloga

@{

    ViewBag.Title = "Sprememba lokacije";
}

<h1>Sprememba lokacije</h1>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Poversina)
            @Html.EditorFor(x => x.Poversina)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NaslovVinograda)
            @Html.EditorFor(x => x.NaslovVinograda)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PostaVinograda)
            @Html.EditorFor(x => x.PostaVinograda)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PostnaStVinograda)
            @Html.EditorFor(x => x.PostnaStVinograda)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Terase)
            @Html.EditorFor(x => x.Terase)
        </div>
        <button type="submit" class="btn btn-primary">Spremeni</button>
    }

</div>



